Creating dataframe in dictionary

In [4]:
import pandas as pd

In [1]:
#Creating a List
states = ['Jharkhand','Bihar','UP','Goa','Odisha']
population=[7854,56325,78547,66325,84862]

In [2]:
#storing list within dictionary
dict_states = {'States' : states ,'Population' :population }

In [6]:
#Creating a dataframe
df_population = pd.DataFrame(dict_states)

In [8]:
# show
df_population

      States  Population
0  Jharkhand        7854
1      Bihar       56325
2         UP       78547
3        Goa       66325
4     Odisha       84862